body, html{
        padding: 0;
        margin: 0;
        font-family:Georgia, serif;
}
.navbar{
        display:flex;
        justify-content: center;
        background-color: rgb(37, 1, 36);
        width: 100%;
        top: 0;
        position: fixed;        
}
ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
}

.itrm{

        margin: 0 15px;
        

}
.link{
        
        color:beige;
        text-decoration: none;
        padding: 15px 0;
        display: block;
        font-size: x-large;       
}
.link:hover{
        color: rgb(255, 0, 98);
        transition-duration: 0.2s;
}
section{
        padding: 100px 20px;
        height: 100vh;        
}
#home{
        background-color: rgba(243, 187, 240, 0.5);
        
}
#about{
        background-color: rgba(243, 148, 238, 0.5);
}
#help{
        background-color: rgba(233, 131, 228, 0.5);;
}
#contact{
        background-color: rgba(211, 112, 206, 0.5);;
}
.scrolled{
        background-color: rgb(90, 42, 88);
        transition-duration: 0.3s;
}
